{%extends 'base.html'%}

{%block content%}
<a href="{{url_for('home')}}"><button class = "btn btn-primary"> Back to home</button> </a>
    <div class = "container">
        <h1>This post belongs to : {{number.author.username}}</h1>

        <h3>Update:</h3>
        <hr>
        <h3>username:{{number.username}}</h3>
        <p>{{number.update}}</p>
        <blockquote>Date Create:{{number.date_created}}</blockquote>
        <!-- update button -->
        <a href="{{url_for('number_update',number_id=number.id)}}"><button class="btn btn-primary">Update</button></a>
        
        <!-- Delete Button -->
        <buttom type = 'button' class="btn btn-danger" data-toggle = 'modal' data-target = '#dangerModal'>Delete number</buttom>
    <!-- Delete Button Modal -->
    <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="dangerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-username">
            <div class="modal-header">
            <h5 class="modal-username" id="dangerModalLabel">Delete number - Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            This action can't be reversed. Are you sure you want to delete?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{url_for('number_delete', number_id = number.id)}}" method="post">
                <input type="submit" value="Delete?" class= "btn btn-danger">
            </form>
        </div>
        </div>
        </div>
        </div>
    
    </div>


{%endblock content%}
