{%extends 'base.html'%}
{%block content%}
<h1 class = "justify-content-center">Registered Phone Numbers</h1>
<form action = "" method = "get">
    {{form.hidden_tag()}}
    <div class = "form-group">
    <fieldset>
        {{form.username.label}}
        {{form.username(class = "form-control",placeholder="PhoneBook Names")}}
    </fieldset>
    <fieldset>        
        {{form.number.label}}
        {{form.number(class = "form-control",placeholder="Numbers")}}

    </fieldset>
    {{form.submit(class = "btn btn-success")}}
    </div>
</form>
{% endblock content %}

